.article_list {
    background-color: #999999;
    border: 2px dashed #58595b;
    margin: 55px auto;
    height: auto;
    width:100%;
    z-index: 1;
    font-family: Sans-serif;
} 

@media (min-width: 200px) {
    .grid_sys {
        display: inline-grid;
        grid-template-columns: auto;
    }
}

@media (min-width: 500px) {
    .grid_sys {
        display: inline-grid;
        grid-template-columns: 50% 50%;
    }
}
 
@media (min-width: 750px) {
    .grid_sys {
        display: inline-grid;
        grid-template-columns: 33% 33% 33%;
    }
}

@media (min-width: 1000px) {
    .grid_sys {
        display: inline-grid;
        grid-template-columns: 25% 25% 25% 25% ;
    }
}