.article_list {
    background-color: #999999;
    border: 2px dashed #58595b;
    width: 90%;
    margin: 55px auto;
    height: auto;
    z-index: 1;
    font-family: Sans-serif;
} 
ul {
    list-style: none;
}
