.red_header {
    background-color: #ca0000;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 90%;
    color:white;
    padding-left:5%;
    padding-right: 5%;
}

h2 {
    margin:0;
    font-weight: bold;
    font-size: 2em;
}


